<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }

        .message {
            color: #000000;
        }
    </style>
</head>

<body>
    <h1 class="message">Password Change</h1>
    <p class="message">An email will be sent to you shortly regarding the password change.</p>
    <p class="message">If you do not receive an email, please try again later.</p>
</body>

</html>